{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "project": ["./tsconfig.json", "./tsconfig-build.json", "./tsconfig.node.json"],
    "tsconfigRootDir": "./"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "eslint-config-prettier",
    "plugin:import/typescript"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": [
          "./tsconfig-build.json"
        ]
      },
      "node": true
    }
  },
  "plugins": ["babel", "react", "promise", "react-hooks", "unused-imports", "import"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/order": [
      "warn",
      {
        "groups": [
          "type",
          ["builtin", "external", "internal"],
          ["parent", "sibling"]
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "*.+(css|scss)",
            "group": "sibling",
            "patternOptions": { "matchBase": true },
            "position": "after"
          },
          {
            "pattern": "generalClasses.module.scss",
            "group": "sibling",
            "patternOptions": { "matchBase": true },
            "position": "after"
          }
        ]
      }
    ],
    "@typescript-eslint/consistent-type-imports": "warn",
    "key-spacing": [
      "error",
      {
        "beforeColon": false,
        "afterColon": true,
        "mode": "strict"
      }
    ],
    "jsx-quotes": [2, "prefer-single"],
    "max-len": [
      2,
      150,
      2,
      {
        "ignoreTemplateLiterals": true
      }
    ],
    "object-curly-spacing": [2, "always"],
    "semi": ["error", "never"],
    "linebreak-style": [0],
    "no-debugger": "warn",
    "jsx-a11y/no-autofocus": [0],
    "comma-dangle": ["error", "never"],
    "jsx-no-bind": [0],
    "import/no-dynamic-require": [0],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "packageDir": "./"
      }
    ],
    "react/jsx-no-bind": [0],
    "react/react-in-jsx-scope": [0],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    "react/forbid-prop-types": [0],
    "react/no-did-mount-set-state": [0],
    "react/jsx-props-no-spreading": [0],
    "react/no-danger": [0],
    "react/jsx-boolean-value": [0],
    "react/jsx-curly-brace-presence": [
      1,
      {
        "props": "never",
        "children": "never"
      }
    ],
    "react/prefer-stateless-function": [1],
    "no-param-reassign": [0],
    "no-unused-expressions": [0],
    "no-underscore-dangle": [0],
    "class-methods-use-this": [0],
    "no-use-before-define": [0],
    "jsx-a11y/role-support-aria-props": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/label-has-for": [0],
    "jsx-a11y/no-noninteractive-element-interactions": [0],
    "jsx-a11y/mouse-events-have-key-events": [0],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "max-params": [2, 4],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": true
      }
    ],
    "dot-location": ["error", "property"],
    "no-bitwise": [0],
    "no-plusplus": [0],
    "curly": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "no-console": "warn",
    "no-useless-rename": "warn"
  }
}

